h1 {text-align: center}

.chart {}
.node { color: #545454; border: 4px solid #545454; border-radius: 25px; }
.node p { font-size: 16px; line-height: 20px; height: 20px; font-weight: bold; padding: 10px; margin: 0; }
